.container {
  width: 100%;
  max-width: 1100px;
  background-color: chartreuse;
}
.header {
  background-color: black;
  color: aliceblue;
  height: 120px;
}
.box {
  height: 120px;
  width: 50%;
  background-color: blue;
  float: left;
}
.clearfix {
  clear: both;
}
.box1 {
  background-color: blueviolet;
}
.box2 {
  background-color: chocolate;
}
.box3 {
  background-color: crimson;
}
.box4 {
  background-color: darkmagenta;
}
@media screen and (max-width: 768px) {
  .box1 {
    width: 100%;
  }
  .box2 {
    width: 100%;
  }
}
@media screen and (max-width: 425px) {
  .box3 {
    width: 100%;
  }
  /* .box2 {
      width: 100%;
    } */
}
@media screen and (max-width: 320px) {
  .box4 {
    width: 100%;
  }
  /* .box2 {
        width: 100%;
      } */
}
